.horaChegadaFormulario {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
  padding-left: 2.5rem;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.horaTitulo {
  padding-top: 1rem;
  font-size: 24px;
  font-weight: bold;
  color: var(--azul-escuro);
}

.horarioFormPrinc {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 5px;
  padding: 25px;
  background-color: #fff;
  box-shadow: #c4c4c4 3px 5px 5px 5px !important;
  width: 93%;
}

.horaCheck {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 16px;
  font-weight: 700;
  color: var(--laranja-principal);
}

.horaLabel {
  font-size: 14px;
  font-weight: 500;
  color: var(--azul-escuro);
  padding-left: 5px;
}

.horaSelect {
  width: 55%;
  height: 40px;
  outline: none;
  border: 1.5px solid var(--cinza-background);
  background-color: var(--branco-opaco);
  border-radius: 5px;
  padding: 0 1rem;
}
