@import url('../../layouts/commom.css'); 

fieldset {
	border: none;
	text-align: center;
}

/*
main{
	position: relative;
}*/


form {
	/*
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	*/

	margin: 1rem auto;
	min-width: 320px;
	max-width: 26em;
	background-color: #f2f2f2;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 5px 5px lightgrey;
	padding: 1em 1.5em;
	}

input {
	width: 100%;
	padding: .4em .5em;
	background-color: var(--app-grey);
	border: 1px solid var(--cor-padrao-turquesa-transparente);
	border-radius: .2em;
	}

	input:focus {
	outline: none;
	border: 1px solid lightgrey;
	}

	input:invalid {
	border: 1px solid var(--cor-erro-input);
	}

	label {
	width: 100%;
	font-weight: 300;
	margin-bottom: -.1em;
	margin-top: .5em;
	font-size: .8em;
	}

	.user_input{
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 3px;
	text-align: start;
	}

	.div_button{
		margin: 0 auto;
	}

	/* aplicando css erros */

	small{
	font-size: .8em;
	font-weight: 300;
	}

	input:required {
	border-color: transparent;
	}

	div.error label{
	color: var();
	}

	div.error small{
	color: var(--cor-erro-input);
	display: block;
	}

	div.error input {
	border-color: var(--cor-erro-input);
	}

	small.error {
	padding-top: 2px;
	color: var(--cor-erro-input);
	display: block;
	
	}

	.divPasswordEConfirmPassword{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--app-grey);
	border: 1px solid var(--cor-padrao-turquesa-transparente);
	padding-right: 5px;
	width: 100%;
	}

	.divPasswordEConfirmPassword input{
		border: none;
	}

	/* aplicando css erros */


button {
	
	padding: .5em 3em;
	background-color: var(--cor-padrao-turquesa-transparente);
	color: white;
	margin-top: 2em;
	font-weight: 400;
	font-size: 1em;
	border: none;
	border-radius: 5px;
}

	button:disabled {
	background-color: var(--cor-padrao-fraca-transparente);
	cursor: not-allowed;
	}

	.form-header {
	color: grey;
	font-size: 2em;
	}

	.login {
	text-align: center;
	}

	.left {
	width: 50%;
	background-color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	}

	.eye_password_bt{
	padding: 0 3%;
	height: 20px;
	cursor: pointer;
	}

@media screen and (max-width: 660px){
	main{
	flex-direction: column;
	align-items: center;
	}

	a{
	padding: 1em 0px;
	}

}

