.reservaFormulario {
    /* width: 50%; */
    background-color: #DFE4EA;
    padding: 0px 20px;
}

.reservaForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0px 20px;
    padding-bottom: 1.5rem;
}

.DadosReserva {
    color: var(--azul-escuro);
    font-weight: 700;
    font-size: 24px;
    padding-top: 2rem;
    padding-bottom: 0;
}

.input {
    width: 100%;
    /* background: var(--branco-opaco); */
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    border-radius: 4px; 
    box-shadow: #C4C4C4 3px 5px 5px 5px;  
}

.inputItem input {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--laranja-principal);
    border-radius: 2px; 
    margin: 0;
    padding: 1rem;
    background-color: var(--cinza-background);
    
}

input:focus {   
    border: 0 none;
    outline: 0;
}

/* ===== RESPONSIVIDADE ======== */

@media screen and (max-width: 1024px) {
  
    .input {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
    }
  
    .inputItem input  { 
      
        grid-template-columns: 1fr;
      
    }
  
  }
  
