.body {
  background: linear-gradient(to bottom, #dfe4ea, #ddd);
  padding-bottom: 1rem;
}

.carouselContainer {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carouselContainerTitle {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: min-content;
}

.carouselContainerTitle h2 {
  padding: 10px;
  display: flex;
  color: #31363f;
  font-weight: 700;
  font-size: 2rem;
  justify-content: flex-start;
}

.carousel {
  max-width: 60rem;
  max-height: 347px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselItem {
  flex: 0 0 auto;
  max-width: 18rem;
  scroll-snap-align: start;
  position: relative; 
  overflow: hidden;
  border-radius: 4px;
  background-color: #f0572d;
}

.imgCarousel {
  display: block;
  margin: 0 auto;
  height: 14rem;
  width: 18rem; 
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.carouselTitle {
  text-align: center;
  color: #ffffff96;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 10px;
  text-shadow: 2px 2px 8px rgba(22, 22, 22, 0.837);
}

.carouselText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.cardForTitle {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: min-content;
}

.cardTitle {
  padding: 10px;
  display: flex;
  color: #31363f;
  font-weight: 700;
  font-size: 1.8rem;
  justify-content: flex-start;
}

.cardCars {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.8rem;
  padding: 0 6rem;
  margin-bottom: 6rem;
}

/* ========= CARDS ============= */

.sectionCard {
  padding: 0.5rem;
  padding-bottom: 1rem;
  /* background-color: #2d7ad8; */
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 8px;
  background-color: #f3f1f1e3;
}

.cardContainer {
  background-color: #ffffff;
  width: 22rem;
  height: 16rem;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
}

.imgCar {
  margin: 0 auto;
  height: 16rem;
  width: 22rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.3rem;
}

.modelCar {
  font-weight: 700;
  margin-top: 1rem;
  width: 100%;
}

.yearCar {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0rem;
  gap: 0.5rem;
}

.span {
  font-size: 0.75rem;
  color: #302f2faa;
}

.buttonCar {
  width: 14rem;
  height: 2.3rem;
  margin: 0.4rem 4rem;
  align-self: center;
  border-radius: 4px;
  border: 1px solid #f0572d;
  cursor: pointer;
  background-color: #f0572d;
  color: #fff;
  font-weight: bold;
  font-size: medium;
  transition: all 0.3s ease-in-out;
}

.buttonCar:hover {
  border: 1px solid #f0572d;
  background-color: #fff;
  color: #f0572d;
  font-weight: bold;
}

@media (max-width: 1010px) {
  .carousel {
    max-width: 18rem;
  }
}

@media (max-width: 460px) {
  .carouselTitle {
    font-size: 2rem;
  }

  .carouselDescricao {
    display: none;
  }
}
