/* ========= CARDS ============= */

.sectionCard {
  padding: 0.5rem;
  padding-bottom: 1rem;
  /* background-color: #2d7ad8; */
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 3px 8px;
  background-color: #f3f1f1e3;
}

.cardContainer {
  background-color: #ffffff;
  width: 22rem;
  height: 16rem;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
}

.imgCar {
  margin: 0 auto;
  height: 16rem;
  width: 22rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.3rem;
}

.modelCar {
  font-weight: 700;
  margin-top: 1rem;
  width: 100%;
}

.yearCar {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0rem;
  gap: 0.5rem;
}

.span {
  font-size: 0.75rem;
  color: #302f2faa;
}

.buttonCar {
  width: 14rem;
  height: 2.3rem;
  margin: 0.4rem 4rem;
  align-self: center;
  border-radius: 4px;
  border: 1px solid #f0572d;
  cursor: pointer;
  background-color: #f0572d;
  color: #fff;
  font-weight: bold;
  font-size: medium;
  transition: all 0.3s ease-in-out;
}

.buttonCar:hover {
  border: 1px solid #f0572d;
  background-color: #fff;
  color: #f0572d;
  font-weight: bold;
}
