body{
    background-color: #FFE4E1;
    margin: 0;
}

.h1{
    width: 420px;
    height: 40px;
    margin-bottom: 25px;
    left: 117px;
    color: #037df6;
    font-weight: bold;
    display: flex;
    algin-items: center;
    justify-content: center;
}

.loginform {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    algin-items: center;
    flex-direction: column;   

}

.label {
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 12px; 
}

.input {
    display: flex;
    flex-direction: row;
    algin-items: flex-start;
    padding: 16px;
    width: 400px;
    height: 39px;
    
   border: 1px solid #5C73DB;
   border-radius: 12px;
   margin-bottom: 12px;
}

.button {
    width: 400px;
    height: 40px;
    margin-top: 15px;
    padding: 22px;
    
    display: flex;   
    justify-content: center;
    flex-direction: row;
    algin-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    border: none;

    background-color: #037df6;
    border-radius: 12px;    
   
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease; 
}

.button:hover {
    background-color: #4babf473; 
    color: white; 
  }

  .log {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.question {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;    
    color: #000000;
}


.register{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;    
    color:  #037df6;
}