.container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    background-color:#DFE4EA;
}
  
.leftPanel {
    /* Estilos para o painel esquerdo (ReservaFormulario, DatePickerComponent, ReservaHorario) */
    background-color:#DFE4EA;
}
  
.rightPanel {
    /* Estilos para o painel direito (Reserva) */
    /* background-color: rgba(137, 43, 226, 0.6); */
}

.containerReserva{

    /* background-color: #DFE4EA; */
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
}
    
.titleCalendar {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: #31363f;
    padding: 1rem;
    padding-left: 2.5rem; 
    
}
    
.dateArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    background-color: #DFE4EA;
}

/* ===== RESPONSIVIDADE ======== */

@media screen and (max-width: 1024px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Define duas colunas, sendo a primeira com 1 parte e a segunda com 2 partes */
        background-color:#DFE4EA;
    }

}

@media screen and (max-width: 768px) {

    .container {
        display: grid;
        grid-template-columns: 1fr; /* Define duas colunas, sendo a primeira com 1 parte e a segunda com 2 partes */
        background-color:#DFE4EA;
    }
}   