.footer {
    background-color: #08a6caae;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Esta propriedade faz com que o footer fique no final da página */
    width: 100%;
  }